a,body {
 font-family:'Open Sans',sans-serif
}

#header {
	background-color:black;
}

#footer {
	background-color:black;
}

#content {
	background-color:#141422;
	color:#d0d0d2;
}

td {
	background-color:rgba(20,146,135,.5);
}

.orange {
	color:rgb(224, 205, 97);
}

.green {
  color: #69e2b3;
}

.blue {
  color: #45c3ec;
}

.teal {
  color: #20968b;
}


.button--basic {
	
	 display:inline-block;
	 line-height:1;
	 padding:.7em 1.15em;
	 text-align:center;
	 font-weight:700;
	 text-decoration:none;
	 white-space:nowrap;
	 border-radius:3px;
	 cursor:pointer;
	 border-width:2px;
	 border-style:solid;
	 transition-timing-function: ease;
	 transition-duration: .4s;
	 background-clip: padding-box;
	
 color:#d6dfdf;
 background-color:rgba(230,84,37,.8);
 border:1px solid #e6542b
}
.button--basic:active,.button--basic:focus,.button--basic:hover {
 color:#141422;
 background-color:#e65425;
 border:1px solid #e6542b
}
.button--basic:visited {
 color:#d6dfdf;
 background-color:#e65425;
 border:1px solid #e6542b
}



.button,button {
 display:inline-block;
 font-size:.942666666666667rem;
 line-height:1;
 padding:.7em 1.15em;
 text-align:center;
 font-weight:700;
 text-decoration:none;
 white-space:nowrap;
 border-radius:3px;
 cursor:pointer;
 border-width:2px;
 border-style:solid;
 -webkit-background-clip:padding;
 -moz-background-clip:padding;
 background-clip:padding-box;
 -webkit-transition-duration:.4s;
 -moz-transition-duration:.4s;
 -o-transition-duration:.4s;
 -ms-transition-duration:.4s;
 transition-duration:.4s;
 -webkit-transition-timing-function:ease;
 -moz-transition-timing-function:ease;
 -o-transition-timing-function:ease;
 -ms-transition-timing-function:ease;
 transition-timing-function:ease;
 -webkit-transition-property:color,border-color,background-color;
 -moz-transition-property:color,border-color,background-color;
 -o-transition-property:color,border-color,background-color;
 -ms-transition-property:color,border-color,background-color;
 transition-property:color,border-color,background-color
}
.button:focus:not(.disabled),.button:focus:not([disabled]),button:focus:not(.disabled),button:focus:not([disabled]) {
 outline:0;
 -webkit-box-shadow:0 0 7px #d0d0d2;
 box-shadow:0 0 7px #d0d0d2
}
.button.disabled,.button[disabled],button.disabled,button[disabled] {
 cursor:not-allowed;
 opacity:.5;
 -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
 filter:alpha(opacity=50)
}
.button--small {
 font-size:.75rem
}
.button--large {
 font-size:1.414rem
}
.button__subtext {
 display:block;
 font-size:60%;
 text-align:center;
 padding-top:1em;
 text-transform:uppercase
}
.button--full-width {
 display:block;
 width:100%;
 padding-left:0;
 padding-right:0
}
.button--basic:focus.disabled:focus,.button--basic:focus:focus,.button--basic:focus[disabled]:focus,.button--basic:hover.disabled:focus,.button--basic:hover:focus,.button--basic:hover[disabled]:focus {
 color:#141422
}
.button--basic:focus.disabled,.button--basic:focus[disabled],.button--basic:hover.disabled,.button--basic:hover[disabled] {
 color:#141422;
 background-color:rgba(216,193,58,.7);
 border-color:#d8c13a
}
.button--neutral {
 color:#141422;
 background-color:rgba(132,132,139,.7);
 border-color:#84848b
}
.button--neutral:focus.disabled:focus,.button--neutral:focus:focus,.button--neutral:focus[disabled]:focus,.button--neutral:hover.disabled:focus,.button--neutral:hover:focus,.button--neutral:hover[disabled]:focus {
 color:#141422
}
.button--neutral:focus,.button--neutral:hover {
 color:#141422;
 background-color:#84848b;
 border-color:#84848b
}
.button--neutral:focus.disabled,.button--neutral:focus[disabled],.button--neutral:hover.disabled,.button--neutral:hover[disabled] {
 color:#141422;
 background-color:rgba(132,132,139,.7);
 border-color:#84848b
}
.button--subdued {
 color:#d8c13a;
 background-color:transparent;
 border-color:#262633
}
.button--subdued:focus.disabled:focus,.button--subdued:focus[disabled]:focus,.button--subdued:hover.disabled:focus,.button--subdued:hover[disabled]:focus {
 color:#d8c13a
}
.button--subdued:focus,.button--subdued:hover {
 color:#e0cd61;
 background-color:#262633;
 border-color:#262633
}
.button--subdued:focus:focus,.button--subdued:hover:focus {
 color:#e0cd61
}
.button--subdued:focus.disabled,.button--subdued:focus[disabled],.button--subdued:hover.disabled,.button--subdued:hover[disabled] {
 color:#d8c13a;
 background-color:transparent;
 border-color:#262633
}
.button--primary {
 color:#141422;
 background-color:rgba(69,195,236,.8);
 border-color:#45c3ec
}
.button--primary:focus.disabled:focus,.button--primary:focus:focus,.button--primary:focus[disabled]:focus,.button--primary:hover.disabled:focus,.button--primary:hover:focus,.button--primary:hover[disabled]:focus {
 color:#141422
}
.button--primary:focus,.button--primary:hover {
 color:#141422;
 background-color:#45c3ec;
 border-color:#45c3ec
}
.button--primary:focus.disabled,.button--primary:focus[disabled],.button--primary:hover.disabled,.button--primary:hover[disabled] {
 color:#141422;
 background-color:rgba(69,195,236,.8);
 border-color:#45c3ec
}
.button--success {
 color:#141422;
 background-color:rgba(90,168,75,.7);
 border-color:#5aa84b
}
.button--success:focus.disabled:focus,.button--success:focus:focus,.button--success:focus[disabled]:focus,.button--success:hover.disabled:focus,.button--success:hover:focus,.button--success:hover[disabled]:focus {
 color:#141422
}
.button--success:focus,.button--success:hover {
 color:#141422;
 background-color:#5aa84b;
 border-color:#5aa84b
}
.button--success:focus.disabled,.button--success:focus[disabled],.button--success:hover.disabled,.button--success:hover[disabled] {
 color:#141422;
 background-color:rgba(90,168,75,.7);
 border-color:#5aa84b
}
.button--danger {
 color:#141422;
 background-color:rgba(240,74,67,.7);
 border-color:#f04a43
}
.button--danger:focus.disabled:focus,.button--danger:focus:focus,.button--danger:focus[disabled]:focus,.button--danger:hover.disabled:focus,.button--danger:hover:focus,.button--danger:hover[disabled]:focus {
 color:#141422
}
.button--danger:focus,.button--danger:hover {
 color:#141422;
 background-color:#f04a43;
 border-color:#f04a43
}
.button--danger:focus.disabled,.button--danger:focus[disabled],.button--danger:hover.disabled,.button--danger:hover[disabled] {
 color:#141422;
 background-color:rgba(240,74,67,.7);
 border-color:#f04a43
}

