/**
CSS for mobile dark interface

CSS basics:
Element selection:
(): HTML tag. ex: div{}
(#): HTML tag's ID (only one ID per tag)
(.): HTML tag's class (multiple classes per tag is OK)
em: size against the current/parent elemt
rem: size against the root element (html, or else browser setting)

CSS properties browser prefixes:
https://autoprefixer.github.io/

*/

/*********************************************/
/*            FONTS 		                 */
/*********************************************/

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('../fonts/open-sans-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v15-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}


/*********************************************/
/*            GLOBAL STUFF                   */
/*********************************************/

:root {
    --bg-color-outter: black;
    --bg-color-inner: black; 
    --bg-color-cell: black;
    --color-txt-default: #CAD0AF; /* grey 2 */
    --color-name: #69e2b3; /* green */
    --color-type: #45C3EC; /* blue */
    --color-dst: rgb(249, 239, 193); /* yellow */
    --color-cost: #5FE18B; /* lighter green */
    --color-lunch: #3AD46E; /* green */
    --color-food: #3BA1C3; /* blue2 */
    --color-place: #5EB7D4; /* lighter blue2 */
    --color-price: #6C80DB; /* purple */
    --color-date: #98A7EA; /* lighter purple */
}

html, body {
  height: 100%; /* needed for proper layout (?) */
  background-color: black;
  font-family: 'Open Sans', sans-serif;
  /* or try :
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 300;
   */
  /* font-size: 80%; */
  /*color: #d0d0d2;*/ /* grey */
  color: #CAD0AF; /* grey 2 */
}

body {
  /* Allows for fixed header and footer (no scroll) */
  overflow: hidden;
}

div, nav {
/*  border: yellow solid;
  border-width: 1px;*/
}

a {
  color: rgb(249, 239, 193);
}

h1, h2, h3 {
  display: block;
}

td {
  /*background-color: rgba(20,146,135,.5); // dark emerald */
  background-color: #262633; /* light black */
}

/*********************************************/
/*            MAIN ELEMENTS                  */
/*********************************************/

#app {
  /* 0 auto makes the div centered on screen */
  margin: 0 auto;
  padding: 0;
  max-width: 40rem;
  height: 100%; /* needed for proper layout (?) */
  /* Flex container properties to organize content */
  display: flex;
  flex-direction: column;
}

/*********************************************/
/*            header                         */
/*********************************************/

#header {
  margin: .1rem;
  margin-bottom: .4rem;
  /* Flex properties for fixed header */
  flex: 0 0 auto;
  /* Flex container properties */
  display: flex;
  flex-direction: row;
  align-items: center;
}

#header .left {
  flex: 2;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

#header .right {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#header a {
  margin: 0 .35rem;
}

.tap {
  background-color: #3BA0C3;
  border-color: #45C3EC;
  border-style:  solid;
  border-width: .2rem;
  border-radius: 1rem;
  color: black;
  font-size: .87rem;flex: 0 0 auto;
  text-align: center;
  text-decoration: none;
  padding: .4rem .6rem;
  white-space: nowrap;
  /* Prevent background color leak outs */
  -webkit-background-clip: padding-box;
  -moz-background-clip:    padding;
  background-clip:         padding-box;
  overflow: hidden;
}

.title {
  color: #45C3EC;
  font-size: 1.52rem;
  font-weight: 700;
  text-decoration: none;
}

/*********************************************/
/*            footer                         */
/*********************************************/

#footer {
  margin: .7rem;
  margin-top: .185rem;
  font-size: .65rem;
  /* Flex properties for fixed footer */
  flex: 0 0 auto;
  /* Flex container properties */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#footer div {
  display: inline;
}

/*********************************************/
/*            content                        */
/*********************************************/

#content {
  background-color: #141422; /* almost black */
  margin: .1rem;
  color: #d0d0d2;
  /* Flex properties to work with fixed header and footer */
  flex: 1 1 auto;
  position: relative; /* need this to position inner content */
  overflow-y: auto;
  /* Flex container properties */
  display: flex;
  flex-direction: column;

}

/*********************************************/
/*            Home screen                   */
/*********************************************/
.grid {
  flex: 0 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.grid>* {
  /*flex: 1 1 auto;*/
  min-width: 6rem;
  max-width: 6rem;
  min-height: 6.6rem;
  max-height: 6.6rem;
  padding: 1.8rem 1rem;
  margin: .5rem .5rem;
  font-size: 1.2rem;
}
.giantButton {
  color: black;
  font-weight: 600;
  text-align: center;
  background-color: #3BA0C3;
  border-color: #45C3EC;
  border-style: solid;
  border-width: .37rem;
  border-radius: 1rem;
  text-decoration: none;
  white-space: wrap;
}
.locked {
  background-color: #7e7e7e;
  border-color: #545454; /* a01453 */
  border-style: dashed;
}
.price {
	font-style: italic;
	font-size: 1rem;
	color: #545454;
	margin-top: .46rem;
}
.price::after {
	content: '\00a5';
}

/*********************************************/
/*            RESTAURANTS FILTER             */
/*********************************************/
#restaurantsFilter {
  /* Allows for fixed element*/
  overflow: hidden;
  height: 100%; /* needed for proper layout (?) */
  /* Flex container properties to organize content */
  display: flex;
  flex-direction: column;
}

#restaurantsResults {
  display: none;
  font-size: .8rem;
}

/*********************************************/

#tagsTop {
  /* Flex properties to be fixed */
  flex: 0 0 auto;
}

#tagsTop p {
  margin: .4rem;
  margin-top: .12rem;
  font-size: .8rem;
}

#filterHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

#filterHeaderTitle {
  flex: initial;
  margin: .5rem .38rem;
  color: #45C3EC;
  font-size: .94rem;
  font-weight: 700;
  text-decoration: none;
  white-space: nowrap;
}

#filterHeaderButton {
  flex: auto;
  margin: .6rem;
}
/*********************************************/
/*            RESTAURANTS TAGS               */
/*********************************************/
/** tag's container */
#tags {
  /* Flex properties to work with fixed header */
  flex: 1 1 auto;
  position: relative; /* need this to position inner content */
  overflow-y: auto;
}

/** a restaurant tag */
.tag {
  /* block */
  display: inline-block;
  cursor: pointer;
  border-style: solid;
  border-width: .2rem;
  border-color: #45C3EC;
  background-color: #3BA0C3;
  margin: .4rem .15rem;
  padding: .8rem 1.15rem;
  /* text */
  font-family: 'ITCAvantGardeStdBk', sans-serif;
  color: #000000;
  font-size: .8rem;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
}

.tagType100 {
  /* blue 1 */
  border-color: #8ED1E7;
  background-color: #5EB7D4;
}

.tagType80 {
  /* green */
  border-color: #5FE18B;
  background-color: #3AD46E;
  /* background-color: #3BA011; */
}

.tagType60 {
  /* purpule */
  border-color: #98A7EA;
  background-color: #6C80DB;
}

.tagType40 {
  /* blue 2 */
  border-color: #5EB7D4;
  background-color: #3BA1C3;
}

/* Palette picker */
/* http://www.paletton.com/#uid=53p0u0knbGWcNSPiwMKr+Bny4to */

/*********************************************/
/*            RESTAURANTS RESULTS            */
/*********************************************/
#resultsControl {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  text-decoration: none;
  margin: .3rem .05rem;
}

.sortButton {
  flex: initial;
  font-size: .82rem;
  font-weight: 600;
  line-height: 1.37;
  padding: .59rem .44rem;
  margin: 0 .25rem;
}

.navButton {
  flex: auto;
  margin: 0 .25rem;
}

#results {
  margin-top: .8rem;
  margin-bottom: .3rem;
}

.restaurantName {
  font-weight: 100;
  color: #69e2b3;
  text-decoration: none;
}

.restaurantType {
  font-weight: 50;
  color: #45C3EC;
}

#resultsEnd {
  margin-top: .55rem;
  margin-bottom: .1rem;
}

.oneDigit {
  font-weight: 600;
  text-align: center;
}

.fourDigits {
  min-width: 2.2rem;
  min-width: 4.4ch;
  font-weight: 600;
  text-align: right;
}

.fourDigitsAdjust {
}

.distanceAdjust {
  min-width: 2rem;
}

.inline {
	display: inline;
}

.minute {
  font-size: .8rem;
  margin-left: .25rem;
  margin-right: .25rem;
}

/*************************/
/* RESULT THIRD COMING */

.resultTable {
  display: flex;
  flex-direction: column;
}
.resultRow {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-bottom: .2rem;
}
.resultRow.header {
  /*max-height: 3rem;*/
}
.resultCell {
  flex: 1;
  background-color: #262633;
  text-align: center;
  padding: .2rem .15rem;;
}
.resultCell.nameAndType {
  flex: 4;
  text-align: left;
  margin-right: .1rem;
}
.resultCell.nameAndType a {
  text-decoration: none;
}
.resultCell.distance {
  margin-right: .1rem;
}
.resultCell .score {
  font-size: .85rem;
}
.resultTable .label {
  font-weight: 100;
  font-size: .76rem;;
  font-size: calc(1.5vw + 1vh);
}

.resultsCounter {
  display: none;
}

/*********************************************/
/*            RESTAURANTS DETAILS            */
/*********************************************/

#detailTitle {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin: .3rem .05rem;
  font-size: 1rem;
  font-weight: 700;
}

#detailName {
  /* occupies largest space in the row */
  flex: auto;
  /* To center the content vertically */
  display: flex;
  align-items: center;
  padding: .4rem .5rem;
  border-color: #69e2b3;
  border-width: .2rem;
}

#detailType {
  /* occupies smallest space in the row */
  flex: 0;
  /* To center the content vertically */
  display: flex;
  align-items: center;
  margin: 0 .35rem;
  padding: .4rem .5rem;
  border-color: #20968b;
  border-width: .18rem;
}

#detailLocation {
  /* occupies smallest space in the row */
  flex: 0;
  /* To center the content vertically */
  display: flex;
  align-items: center;
  padding: .4rem .5rem;
  border-color: #20968b;
  border-width: .12rem;
  font-weight: 500;
  font-size: .9rem;
}

.detailRow {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin: .3rem .05rem;
  font-size: 1rem;
  font-weight: 400;
}

.detail {
  flex: 1 1 auto;
  margin: 0 .25rem;
  padding: .4rem .5rem;
  border-color: #20968b;
  border-width:.1rem;
  border-style:solid;
  text-decoration: none;
  white-space: normal;
  overflow: visible;
}

.detail .tag {
  margin: .18rem .15rem;
  padding: .65rem .67rem;
  font-size: .75rem;
}

.detail.cost {
  border-width: .2rem;
  /* To center the content vertically */
  display: flex;
  align-items: center;
  justify-content: center;
}

/*********************************************/
/*            Tooltip                        */
/*********************************************/
/*
* NEW LINE: content: "line1 \A line2", or
* content: attr(attrName) needs to use &#xa; in its text
*/
div[tooltip] {
	display: inline-block;/*bug fix*/
	position: relative;
	text-decoration: none;
}
div[tooltip]:after {
  /* read from html attribute */
	content: attr(tooltip);
  /* enable new lines in content */
  white-space: pre;
  /* ensure tooltip visible above other elements */
  z-index: 2;
  visibility: visible;
  /* colors */
  background: #ffcb66;
  color: black;
	padding: 5px 15px;
  opacity: 0;
  /* positioning */
  position: absolute;
  left: 20%;
	bottom: 130%;
  /* rounded edges */
  border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
  /* transition */
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
}
div[tooltip]:before {
  /* hide tooltip */
	content: "";
	width: 0;
	height: 0;
  opacity: 0;
  position: absolute;
	left: 30%;
	bottom: 90%;
	border-top: 1rem solid #ffcb66;
	border-left: 1rem solid transparent;
	border-right: 1rem solid transparent;
  transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
}
div[tooltip]:hover:after,
div[tooltip]:active:after {
	bottom: 100%;
}
div[tooltip]:hover:before,
div[tooltip]:active:before  {
	bottom: 70%;
}
div[tooltip]:hover:after,
div[tooltip]:active:after,
div[tooltip]:hover:before,
div[tooltip]:active:before {
	opacity: 1;
}

/*********************************************/
/*           Absolute Tooltip                 /
/*********************************************/
div[absolute-tooltip] {
}
div[absolute-tooltip]:after {
  /* read from html attribute */
  content: attr(absolute-tooltip);
  /* enable new lines in content */
  white-space: pre;
  /* ensure absolute-tooltip visible above other elements */
  z-index: 9;
  visibility: visible;
  /* colors */
  background: #20968b; /* nice orange #ffcb66; */
  color: black;
  padding: .4rem .75rem;
  opacity: 0;
  /* positioning */
  position: absolute;
  top: 4.1rem;
  left:.2rem;
  height:4.1rem;
  width:91%;
  /* rounded edges */
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  /* transition */
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
div[absolute-tooltip]:before {
  /* hide absolute-tooltip */
  content: "";
  width: 0;
  height: 0;
  opacity: 0;
  /* triangle pointer */
  position: absolute;
  top: 9rem;
  border-top: 1rem solid #20968b; /* nice orange #ffcb66; */
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  /* triangle transition */
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
div[absolute-tooltip]:hover:after,
div[absolute-tooltip]:active:after {
  bottom: 100%;
}
div[absolute-tooltip]:hover:before,
div[absolute-tooltip]:active:before  {
  bottom: 70%;
}
div[absolute-tooltip]:hover:after,
div[absolute-tooltip]:active:after,
div[absolute-tooltip]:hover:before,
div[absolute-tooltip]:active:before {
  opacity: 0.95;
}

/*********************************************/
/*            Tooltip overlay                */
/*********************************************/

div[overlay] {
	display: inline-block;/*bug fix*/
	position: relative;
	text-decoration: none;
}
div[overlay]:after {
  /* read from html attribute */
  content: attr(overlay);
  /* enable new lines in content */
  white-space: pre;
  /* ensure overlay visible above other elements */
  z-index: 2;
  visibility: visible;
  /* colors */
  background: #20968b;
  color: black;
  padding: 5px 15px;
  opacity: 0;
  /* positioning */
  position: absolute;
  left: 0;
  bottom: 0;
  /* transition */
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
div[overlay]:before {
  /* hide overlay */
  content: "";
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  left: 0%;
  bottom: 0%;
}
div[overlay]:hover:after,
div[overlay]:active:after {
	top: 0;
	bottom:0;
	right: 0;
	left:0;
	opacity:0;
}
div[overlay]:hover:before,
div[overlay]:active:before  {
	bottom: 0%;
}
div[overlay]:hover:after,
div[overlay]:active:after,
div[overlay]:hover:before,
div[overlay]:active:before {
	opacity: 0.94;
}

/*******************************************************/
/*******************************************************/
/*******************************************************/

.detailRow .score {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.border20 {
  border-width: .2rem;
}

.border15 {
  border-width: .15rem;
}

.score .label {
  font-size: .7rem;
  margin: .01rem;
}

.score .grade {

}

.score .grade::first-letter {
  font-weight: 600;
  font-size: 1rem;
}

.centered {
  text-align: center;
}

.justified {
  text-align: justify;
  text-justify: auto;
}

.mysteryDot {
  color: red;
  font-weight: 600;
  margin: .1rem auto;
}

/*********************************************/
/*            GENERAL CLASSES                */
/*********************************************/

.centerContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
   justify-content: center;
   align-content: center;
   align-items: center;
   margin: auto;
   text-align: center;
}

.inline {
  display: inline;
}

/*********************************************/
/*            COLORS                         */
/*********************************************/

.orange {
	color:rgb(224, 205, 97);
}

.green {
  color: #69e2b3;
}

.blue {
  color: #45c3ec;
}

.teal {
  color: #20968b;
}

/*******************************************************/
/* STUFF FROM GITKRAKEN */
/*******************************************************/

.button--basic {
	 display:inline-block;
	 line-height:1;
	 padding:.7rem 1.15rem;
	 text-align:center;
	 font-weight:700;
	 text-decoration:none;
	 /* white-space:nowrap; */
	 border-radius:3px;
	 cursor:pointer;
	 border-width:2px;
	 border-style:solid;
	 transition-timing-function: ease;
	 transition-duration: .4s;
	 background-clip: padding-box;

   color:#d6dfdf;
   background-color:rgba(230,84,37,.8);
   border:1px solid #e6542b
}
.button--basic:active,.button--basic:focus,.button--basic:hover {
 color:#141422;
 background-color:#e65425;
 border:1px solid #e6542b
}
.button--basic:visited {
 color:#d6dfdf;
 background-color:#e65425;
 border:1px solid #e6542b
}

.button,button {
 display:inline-block;
 font-size:.86rem;
 line-height:1;
 padding: .62rem .8rem;
 text-align:center;
 font-weight:700;
 text-decoration:none;
 /* white-space:nowrap; */
 border-radius:3px;
 cursor:pointer;
 border-width:2px;
 border-style:solid;
 -webkit-background-clip:padding;
 -moz-background-clip:padding;
 background-clip:padding-box;
 -webkit-transition-duration:.4s;
 -moz-transition-duration:.4s;
 -o-transition-duration:.4s;
 -ms-transition-duration:.4s;
 transition-duration:.4s;
 -webkit-transition-timing-function:ease;
 -moz-transition-timing-function:ease;
 -o-transition-timing-function:ease;
 -ms-transition-timing-function:ease;
 transition-timing-function:ease;
 -webkit-transition-property:color,border-color,background-color;
 -moz-transition-property:color,border-color,background-color;
 -o-transition-property:color,border-color,background-color;
 -ms-transition-property:color,border-color,background-color;
 transition-property:color,border-color,background-color
}
.button:focus:not(.disabled),.button:focus:not([disabled]),button:focus:not(.disabled),button:focus:not([disabled]) {
 outline:0;
 -webkit-box-shadow:0 0 7px #d0d0d2;
 box-shadow:0 0 7px #d0d0d2
}
.button.disabled,.button[disabled],button.disabled,button[disabled] {
 cursor:not-allowed;
 opacity:.5;
 -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
 filter:alpha(opacity=50)
}
